---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/pinguangry.gif";

const meta = {
	title: "Oops!",
	description: "Oops! It looks like this page is lost",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 ERROR | Oops! Something went wrong</h1>
	<p class="mb-8">Please use the navigation to find your way back</p>
	<div class="my-4 grid justify-center">
		<Image
			src={aboutImg}
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			style="width:400px;"
			loading="eager"
		/>
	</div>
</PageLayout>
