---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Youtube",
		desc: "Discover some Cybersecurity, Blog, and General Videos",
		href: "https://www.youtube.com/@peppersecurity",
	},
	{
		title: "LinkedIn",
		desc: "Connect with my professional side!",
		href: "https://www.linkedin.com/in/tonyvt/",
	},
	{
		title: "Twitter",
		desc: "Check out my Twitter!",
		href: "https://twitter.com/pepsecurity",
	},
	{
		title: "Github",
		desc: "Check out my Gits, Repos, Etc.",
		href: "https://github.com/pepubear",
	},
	
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">// Hi, I'm Tony!</h1>
		<p class="mb-3">
			I am currently a Cybersecurity student developing my skills in Pen-Testing, Development, Security Research, Network Administration, Systems Administration, Cloud Security, Compliance and more!
		</p>
		<p class="mb-3">
			As a young, dedicated, and motivated Cybersecurity nerd :-o, I specialize in a very broad number of technologies that I am constantly expanding my knowledge and skills in every day.
		</p>
		<p class="mb-3">
			Here are just some of my specialties:
		</p>
		<ul>
			<li>- Practical Penetration Testing</li>
			<li>- Linux-Unix Administration</li>
			<li>- Type-1 Hypervisor Administration</li>
			<li>- Active Directory Implementations</li>
			<li>- Practical SIEM Deployments & Analysis</li>
			<li>- Cisco Networking Implementations</li>
			<li>- Network Development & Physical Configurations</li>
			<li>- On-Prem Hardware Technical Knowledge</li>
			<li>- IT Technical Assistance and Communications</li>
		  </ul>
	</section>
	<section aria-label="Blog post list" class="mt-10">
		<h2 class="title mb-4 text-xl">// Blog Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-10">
		<h2 class="title mb-4 text-xl">// Find me on...</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>: 
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
			
		</ul>
	</section>
</PageLayout>
